menu "Hardware Drivers Config"

config SOC_ALLWINNER_T113
    bool
    select ARCH_ARM
    select ARCH_ARM_CORTEX_A7
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    select RT_USING_CACHE
    select RT_USING_GIC_V2
    default y

menu "Onboard Peripheral Drivers"
config RT_USING_UART0
    bool "Enable UART0"
    default y

endmenu

endmenu
